* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 60px;
}

.logo a{
    color: #F9FAF8;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

nav ul a {
    color: #F9FAF8;
}

.hero {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 2rem;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px auto 16px auto;
}

button {
    padding: 6px 18px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

.btn-main {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
}

.img-placeholder {
    background-color: gray;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 80%;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 24px 0;
    gap: 12px;
}

.image-placeholder {
    height: 125px;
    width: 125px;
    border: 2px solid #3882F6;
    border-radius: 6px;
    margin: auto;
}

.card p {
    padding-top: 10px;
}

